{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}<h3 class='text-center my-5'>Отправить запрос</h3>{% endblock title %}

{% block content %}
  <div class="form-group col-lg-6 my-3 mx-auto b-block">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Подтвердите запрос</h4>
      <p>Проверьте правильность Ваших данных.</p>
      <hr>
      <p class="mb-0">Эти данные будут направлены водителю.</p>
    </div>

    {#    <p>Проверьте правильность телефона.</p>#}
    {#    <p>Эти данные будут направлены водителю.</p>#}
  </div>
    <div class="form-group col-lg-6 mx-auto b-block">
      <p>{{ name }}</p>
      <p>{{ tel_number }}</p>
    </div>

    <button class='btn btn-success my-5' type="submit">Отправить запрос</button>
    <a class="btn btn-info ml-5 mr-5" href="{% url 'user-detail' %}">Обновить данные</a>

{% endblock %}