{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}<h3 class='text-center my-5'>Поездки</h3>{% endblock title %}

{% block content %}
   <form class='form text-center' action='{% url 'create-trip' %}' method='post'>
    {% csrf_token %}
    <div class="form-group col-lg-6 mx-auto b-block">
      {{ form.start|as_crispy_field }}
      {{ form.end|as_crispy_field }}
      {{ form.date|as_crispy_field }}
      {{ form.time|as_crispy_field }}
      {{ form.empty_seats|as_crispy_field }}
      {{ form.price|as_crispy_field }}
    </div>

    <button class='btn btn-success my-5' type="submit">Предложить</button>
  </form>
{% endblock %}