{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% endblock title %}

{% block content %}
  <div class="container d-block mx-auto">
    <h3 class="my-5 text-center">Вы уверены, что хотите удалить Ваш аккаунт?</h3>
    <div class="card col-12 col-sm-10 col-lg-12 mx-auto b-block mb-4">
      <div class="card-header">
        {{ trip.start }} -> {{ trip.end }}
      </div>
      <div class="card-body">
        {% language 'ru-RU' %}<h5 class="card-title">{{ trip.date|date:"j F" }}, {{ trip.time|time:"G:i" }}</h5>{% endlanguage %}
        <p class="card-text">Цена: {{ trip.price }} сомов</p>
        <p class="card-text">Свободых мест: {{ trip.empty_seats }}</p>
      </div>
    </div>
    <a href="{% url "update-trip" trip.id %}" class="btn btn-warning mr-3">Обновить</a>
    <a href="{% url "delete-trip" trip.id %}" class="btn btn-danger mr-3">Удалить</a>

  </div>
{% endblock %}