{% extends 'base.html' %}
{% load static %}
{% block title %}<h1 class="container d-block mx-auto center mt-5">Удалить профиль</h1>{% endblock title %}

{% block content %}
    <div class="container d-block mx-auto center">
    {% if request.user.is_authenticated %}
<h5>Удалить аккаунт</h5>
  <p>{{ user.email }}</p>
  <hr>
  <p>{{ user.profile.name }}{{ user.profile.surname }}, {{ user.profile.birthfdate }}</p>
  <p>{{ user.profile.tel_number }}</p>
  <a class="btn btn-danger ml-5 mr-5" href="{% url 'user-delete' %}">Удалить</a>
    </div>
    {%  endif %}
{% endblock %}